div{
width: 400px;
padding: 40px;
margin: 20px auto;
background-color: antiquewhite;
}

.assign-1-shape-1{
border-left: 5px solid brown; 
background-color: antiquewhite;
outline: 10px antiquewhite solid  ;
}
.assign-1-shape-2{
visibility: hidden;
}
.assign-1-shape-3{
    border-left: 5px solid rgb(106, 74, 74); 
    background-color: antiquewhite;
    outline: 10px antiquewhite solid  ;
    }
}